<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | About</title>
	</head>
	<body>
        <module href="/components/header-nav.html" locals='{"about": "is-active"}'></module>        				
        <main>            
            <div class="container-fluid">                
                <section id="#about" class="l-max-width">
                    <h1 class="h2">About</h1>
                    <p>I’m a UX researcher and designer with seven years of experience in web development. In this role I became interested in the finer details of the user experience so I began the CareerFoundry UX Design program in my free time after work.</p>
                    <p>It is my goal to work remotely for an inclusive company where I can contribute and learn, with fellow employees who are positive and passionate about the work they do.</p>

                    <h3>Testimonials</h3>
                    <p>I enjoy collaborating to make projects happen. Here is what people have to say about working with me.</p>
                    
                    <div class="row testimonials">    
                        <figure class="col-12 col-sm-6 col-lg-4">
                            <blockquote>Example of a really nice thing someone might say about working with me!”</blockquote>
                            <figcaption>
                                <span class="d-sm-none">Example Person, Example Profession, Location</span>
                                <div class="d-none d-sm-block info"><span>Example Person</span><span>Example Profession</span><span>Example Place, USA</span></div>
                            </figcaption>
                        </figure>
                        <figure class="col-12 col-sm-6 col-lg-4">
                            <blockquote>Example of a really nice thing someone might say about working with me!”</blockquote>
                            <figcaption>
                                <span class="d-sm-none">Example Person, Example Profession, Location</span>
                                <div class="d-none d-sm-block info"><span>Example Person</span><span>Example Profession</span><span>Example Place, USA</span></div>
                            </figcaption>
                        </figure>
                        <figure class="col-12 col-sm-6 col-lg-4">
                            <blockquote>Example of a really nice thing someone might say about working with me!”</blockquote>
                            <figcaption>
                                <span class="d-sm-none">Example Person, Example Profession, Location</span>
                                <div class="d-none d-sm-block info"><span>Example Person</span><span>Example Profession</span><span>Example Place, USA</span></div>
                            </figcaption>
                        </figure>
                     </div>   
                    
                    <h3>More Info</h3>
                    <p>In my free time, I collect both figures and vinyl records. I love travelling and planning trips. I try to participate in an escape room and a cooking class if I can!</p>
                    <p>Have you heard of the critically acclaimed MMORPG Final Fantasy XIV? I play a paladin and lead a free company, which includes organizing events for my members and running the Discord server.</p>
                </section>
                 
                <section id="#resume" class="l-max-width">
                    <h2>Resume</h2>
                    <p>I currently live in San Luis Obispo, CA. and I’m willing to relocate. You can view or download my resume here:</p>
                    <div class="btn-wrap"><a href="#" class="btn btn-primary">View My Resume</a></div>
                    <p>Interested in working together or want to chat? I am available by <a href="https://www.linkedin.com/in/loganibarra/">LinkedIn</a> or <a href="mailto:logan.e.ibarra@gmail.com">logan.e.ibarra@gmail.com</a>. I’m looking forward to hearing from you!</p>
                </section>                 
            </div>          
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		 
	</body>
</html>