<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | About</title>
	</head>
	<body>
        <module href="/components/header-nav.html" locals='{"about": "is-active"}'></module>        				
        <main>            
            <div class="container-fluid">                
                <section id="#about" class="l-max-width">
                    <h1 class="h2">About</h1>
                    
                    <div class="row about_info">
                        <div class="col-12 col-sm-8">
                            <p>Hello, I'm Logan! I am a UX researcher and designer with seven years of experience in front-end web development. In this role, I became interested in the finer details of the user experience and began the CareerFoundry UX Design program in my free time after work.</p>                   
                            <p>It's my goal to work for an inclusive company where I can contribute and learn with fellow employees who are positive and passionate about the work they do.</p>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="img_container">
                                <img srcset="images/LoganPortrait@2x.jpg 2x" src="images/LoganPortrait.jpg" alt="Logan Ibarra">
                            </div>
                        </div>                        
                    </div>
                                
                    <h3>Testimonials</h3>
                    <p>I enjoy collaborating to make projects happen. Here is what people have to say about working with me.</p>
                    
                    <div class="row testimonials">    
                        <figure class="col-12 col-sm-6 col-lg-4">
                            <blockquote>I respect and appreciate Logan's insight, attention to detail, and willingness to participate." </blockquote>
                            <figcaption>
                                <span class="d-sm-none">Jonathan Webb, Lead User Interface Designer, San Luis Obispo, CA</span>
                                <div class="d-none d-sm-block info"><span>Jonathan Webb</span><span>Lead User Interface Designer</span><span>San Luis Obispo, CA</span></div>
                            </figcaption>
                        </figure>
                        <figure class="col-12 col-sm-6 col-lg-4">
                            <blockquote>Logan is one of the most competent people I had the pleasure of working alongside. Diligent, thorough, and extremely hard working."</blockquote>
                            <figcaption>
                                <span class="d-sm-none">Alexander Guizar, Full-Stack Developer, San Luis Obispo, CA</span>
                                <div class="d-none d-sm-block info"><span>Alexander Guizar</span><span>Full-Stack Developer</span><span>San Luis Obispo, CA</span></div>
                            </figcaption>
                        </figure>                                                
                     </div>   
                    
                    <h3>More Info</h3>
                    <p>I collect anime figures and vinyl records. I love traveling, taking food pictures, and completing escape rooms.</p>
                    <p>Have you heard of the critically acclaimed MMORPG Final Fantasy XIV? I play a paladin and lead a free company, including organizing events for my members and running the Discord server.</p>
                </section>
                 
                <section id="#resume" class="l-max-width">
                    <h2>Resume</h2>
                    <p>I currently live in San Luis Obispo, CA., and I’m willing to relocate. You can view or download my resume here:</p>
                    <div class="btn-wrap"><a href="resume.html" class="btn btn-primary">View My Resume</a></div>
                    <p>Are you interested in working together or want to chat? I am available by <a href="https://www.linkedin.com/in/loganibarra/" target="_blank">LinkedIn</a> or <a href="mailto:logan.e.ibarra@gmail.com">logan.e.ibarra@gmail.com</a>. I’m looking forward to hearing from you!</p>
                </section>                 
            </div>          
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		 
	</body>
</html>