<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | &iexcl;Aprende!</title>
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">    
                <section id="#aprende" class="l-max-width">
                    <h1>&iexcl;Aprende!</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Research and Design</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Tools:</strong> Marvel, LucidChart, Pen and Paper</p> 
                        <a href="https://marvelapp.com/prototype/6h27egc/screen/76438147" class="video"><i class="icon icon-youtube">Video</i><span>View the prototype in Marvel</span></a>                        
                    </div>
                    <p>Completed competitor research and user interviews to better understand how students study vocabulary and what challenges prevented continued learning in the past.</p> 
                    <p>Explored low-fidelity design options with the intent of helping students meet their study goals.</p>
                    
                    <div class="hero_container">
                        <img srcset="" src="" alt="Aprende Paper Prototypes">
                    </div>
                </section>
            
                <section id="#define" class="l-max-width">
                    <h2>Define</h2>
                    <p>I selected three vocabulary study apps to <strong>complete a competitive analysis</strong> and learn what types of features were offered and areas for opportunity.</p>                    
                </section>                                
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>
		<script src="./bundle.js"></script> 
	</body>
</html>