<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | &iexcl;Aprende!</title>
	</head>
	<body data-bs-spy="scroll" data-bs-target="#dropdown-nav" data-bs-offset="108" tabindex="0">
        <module href="/components/header-nav.html" locals='{"navigation": "Project Navigation"}'>
            <li><a class="dropdown-item scroll-link d-none" href="#aprende">Project Navigation</a></li>
            <li><a class="dropdown-item scroll-link" href="#research">Research</a></li>
            <li><a class="dropdown-item scroll-link" href="#usertesting">User Testing</a></li>
            <li><a class="dropdown-item scroll-link" href="#reflect">Reflect</a></li>                    
            <li><a class="dropdown-item scroll-link" href="#appendix">Appendix</a></li>
        </module>          				
        <main>            
            <div class="container-fluid">    
                <section class="l-max-width">
                    <h1 id="aprende">&iexcl;Aprende!</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Researcher and Designer</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Timeline:</strong> 3 Weeks</p>
                        <p><strong>Tools:</strong> Marvel, LucidChart, Pen and Paper</p>                        
                        <p>&iexcl;Aprende! provided a research opportunity to better understand how students studied vocabulary and if they had any challenges with continued language learning in the past. This project demonstrates my ability to provide user flows, simple yet effective wireframes, and rapid prototypes. Forming consistent study habits can be difficult, and learning more about students’ needs was an engaging experience.</p>
                        <a href="https://marvelapp.com/prototype/6h27egc/screen/76438147" class="video" target="_blank"><i class="icon icon-youtube">Video</i><span>View the prototype in Marvel</span></a>
                    </div>
                                       
                    <div class="hero_container is-full">
                        <img srcset="images/aprende/aprende_hero@2x.jpg 2x" src="images/aprende/aprende_hero.jpg" alt="Aprende Paper Prototypes">
                    </div>
                </section>
            
                <section class="l-max-width">
                    <h2 id="research">Research</h2>
                    <p>Wanting to learn more about the existing market offerings, I <strong>completed a competitive analysis</strong> on three existing study apps. The goal was to understand what features they offered and areas for opportunity.</p>
                    
                    <p>I then <strong>conducted three user interviews</strong> to gain insight into their previous experiences with vocabulary apps.</p>
                    
                    <p>With this information, I <a href="aprende_appendix.html#proto_persona" target="_blank">formed a proto-persona, Allison</a>. Allison is learning Spanish in her free time after work and needs to make her study time count. She needs to see progress to stay motivated.</p>
                    
                    <p>Allison’s primary task is to complete lessons to reach her daily study goal. I <strong>created the following user flow</strong> for this task considering the success criteria. I also included other functionalities, such as studying from a flashcard deck. I wanted to provide a complete picture of how a user might complete a study session.</p>
                                        
                    <figure>
                        <img src="images/aprende/aprende_user_flow.jpeg" alt="User Flow">
                        <figcaption>User flow for Allison to reach her daily study goal.</figcaption>
                    </figure>
                </section>
                
                <section class="l-max-width">
                    <h2 id="usertesting">User Testing</h2>
                    <p>I <a href="aprende_appendix.html#aprende_wireframe_carousel" target="_blank">sketched low-fidelity wireframes</a> and <a href="aprende_appendix.html#prototype" target="_blank">created a prototype</a> in Marvel for usability testing. The goal was to perform usability tests early in the design process to evaluate the onboarding and lesson flows.</p>
                    
                    <p>I observed two areas for improvement during testing. The onboarding process contained duplicate content and forced users to confirm their sections twice.</p>
                    <p>I switched out the account reminder screen for an occasional popup. On reflection, the wording "Tap to Continue" could lead to confusion, and I could remove the popup depending on the needs of the app or company.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/aprende/onboarding@2x.jpg 2x" src="images/aprende/onboarding.jpg" alt="Updated onboarding and account creation process">
                        <figcaption>Wireframes and iteration of the account creation during onboarding.</figcaption>
                    </figure>
                    
                    <p>Secondly, I observed participants looking for completed lessons in the bottom navigation. Once they didn't find it there, they started searching within the content. I adjusted the navigation to include completed lessons to facilitate ease of use. </p>               
                    
                    <figure class="is-large">
                        <img srcset="images/aprende/navigation@2x.jpg 2x" src="images/aprende/navigation.jpg" alt="Updated bottom navigation with completed lessons">
                        <figcaption>Wireframes and iteration of bottom navigation with completd lessons.</figcaption>
                    </figure>
                </section>                                                               
                
                <section class="l-max-width">
                    <h2 id="reflect">Reflect</h2>
                    <p>This project reinforced the importance of performing user interviews and usability testing at the right time. I found myself tunneling into small details while creating the paper wireframes and have moved to a digital format in Procreate.</p>
                    <p>Moving forward, I would design mid-fidelity wireframes and prototypes. I would be interested in conducting a round of usability tests focused on the flashcards to see if it meets user needs.</p>
                </section>
                
                <section class="l-max-width">
                    <h2 id="appendix">Appendix</h2>                    
                    <ul class="appendix">
                        <li><a href="aprende_appendix.html#proto_persona" target="_blank">Proto-persona</a></li>
                        <li><a href="aprende_appendix.html#problem_state" target="_blank">Problem Statement</a></li>
                        <li><a href="aprende_appendix.html#user_flow" target="_blank">User Flow</a></li>
                        <li><a href="aprende_appendix.html#wireframes" target="_blank">Wireframes</a></li>                        
                        <li><a href="aprende_appendix.html#prototype" target="_blank">Prototype</a></li>                        
                    </ul>
                </section>                
                
                <module href="/components/morework.html" locals='{"aprende": "is-active"}'></module>
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>