<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | &iexcl;Aprende!</title>
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">    
                <section id="#aprende" class="l-max-width">
                    <h1>&iexcl;Aprende!</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Research and Design</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Tools:</strong> Marvel, LucidChart, Pen and Paper</p> 
                        <a href="https://marvelapp.com/prototype/6h27egc/screen/76438147" class="video" target="_blank"><i class="icon icon-youtube">Video</i><span>View the prototype in Marvel</span></a>                        
                    </div>
                    <p>Completed competitor research and user interviews to better understand how students study vocabulary and what challenges prevented continued learning in the past.</p> 
                    <p>Explored low-fidelity design options with the intent of helping students meet their study goals.</p>
                    
                    <div class="hero_container">
                        <img srcset="images/aprende/aprende_hero2x.jpg 2x" src="images/aprende/aprende_hero.jpg" alt="Aprende Paper Prototypes">
                    </div>
                </section>
            
                <section id="#define" class="l-max-width">
                    <h2>Define</h2>
                    <p>I selected three vocabulary study apps to <strong>complete a competitive analysis</strong> and learn what features they offered and areas for opportunity.</p>       <p>I then <strong>conducted three user interviews</strong> with individuals who had attempted to use apps to learn vocabulary in the past. This provided insight into why they struggled previously and what features a user might need.</p>
                    <p>With this information, <strong>I formed a proto-persona</strong>, Allison. Allison is learning Spanish in her free time after work and needs to make her study time count. She needs to see progress to stay motivated.</p>
                    
                    <figure>
                        <img src="images/aprende/aprende_persona.jpg" alt="Proto Persona of Allison">
                        <figcaption>Proto-persona for Allison, our user who is learning Spanish.</figcaption>
                    </figure>
                    
                    <p class="highlight">Allison needs a way to review and be tested on previously learned vocabulary because this keeps her engaged and ensures she recalls the material outside her short-term memory.</p>
                    <p class="highlight">We will know this to be true when we see Allison’s repeated use of the app and when she achieves her daily goal for vocabulary words.</p>
                    <p>I considered necessary tasks Allison would need to be successful and <strong>established some initial user flows using Lucid Chart</strong>. The primary task would be for her to complete her lessons to reach her study goal.</p>
                                        
                    <figure>
                        <img src="images/aprende/aprende_user_flow.jpeg" alt="User Flow">
                        <figcaption>User flow for Allison to reach daily study goal.</figcaption>
                    </figure>
                </section>
                
                <section id="#wireframes" class="l-max-width">
                    <h2>Wireframes</h2>
                    <p>With this data, I sketched some <strong>low-fidelity wireframes</strong>. I wanted Allison to be able to log in, sign up, study vocabulary through a quiz-type method, and add words to a flashcard deck.</p>
                                        
                    <div id="aprende_wireframe_carousel" class="carousel carousel-dark slide" data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img srcset="images/aprende/aprende_wire2x.jpg 2x" src="images/aprende/aprende_wire.jpg" class="d-block w-100" alt="Wireframes of splash, login, password recovery">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Splash and Login Pages</h5>
                                    <p>Login pages include password recovery options</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/aprende/aprende_wire022x.jpg 2x" src="images/aprende/aprende_wire02.jpg" class="d-block w-100" alt="Wireframes of account creation and onboarding">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Account creation and Onboarding</h5>
                                    <p>Onboarding collects study goal information</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/aprende/aprende_wire032x.jpg 2x" src="images/aprende/aprende_wire03.jpg" class="d-block w-100" alt="Wireframes of onboarding and lesson">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Completion of Onboarding and Lesson</h5>
                                    <p>Coach marks to familiarize and lesson example</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/aprende/aprende_wire042x.jpg 2x" src="images/aprende/aprende_wire04.jpg" class="d-block w-100" alt="Wireframes of lesson completion and flashcard deck">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Lesson Completion and Flashcards</h5>
                                    <p>Shows progress towards study goal. Has the ability to create custom flashcard decks.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#aprende_wireframe_carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>
                
                <section id="#usertesting" class="l-max-width">
                    <h2>User Testing</h2>
                    <p>Using Marvel, I <strong>created a prototype</strong> with the wireframes and <strong>completed usability testing</strong>. I <strong>set up a test plan</strong> with four direct tasks and corresponding scenario tasks for participants.</p>
                    <p>There were two key observations from usability testing:</p>
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Duplicate content</p>
                            <p>Proceeding as a guest forced the user to confirm their selection twice</p>                           
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Unexpected navigation</p>
                            <p>Participants expected to find completed items in the bottom navigation</p>                           
                        </div>                       
                    </div>
                </section>
                
                <section id="#iterate" class="l-max-width">
                    <h2>Iterate</h2>
                    <p>With the information from user testing, I made revisions to my wireframes and updated my prototype.</p>
                    <figure>
                        <img src="images/aprende/aprende_wire_update01.jpg" alt="Updated wireframe of the login process">
                        <figcaption>After selecting "Continue As Guest," the updated splash screen changed to a popup with the account creation reminder.</figcaption>
                    </figure>
                    
                    <figure>
                        <img src="images/aprende/aprende_wire_update03.jpg" alt="Updated wireframe showing the bottom navigation changes">
                        <figcaption>The bottom navigation now includes the completed lessons.</figcaption>
                    </figure>
                    
                    <a href="https://marvelapp.com/prototype/6h27egc/screen/76438147" class="video" target="_blank"><i class="icon icon-youtube">Video</i><span>View the prototype in Marvel</span></a> 
                </section>
                
                <section id="#reflect" class="l-max-width">
                    <h2>Reflect</h2>
                    <p>This project reinforced the basics of performing user interviews and usability testing.</p>
                    <p>I found myself tunneling into small details while creating the paper wireframes and have moved to Procreate to alleviate this. I discovered I work faster in an all-digital space and have developed a workflow around this.</p>
                    <p>Lastly, this solidified my enjoyment of evaluating data and feedback from usability tests.</p>
                </section>
                
                <module href="/components/morework.html" locals='{"aprende": "is-active"}'></module>
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>