<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Bar Tonic</title>
	</head>
	<body data-bs-spy="scroll" data-bs-target="#dropdown-nav" data-bs-offset="108" tabindex="0">
        <module href="/components/header-nav.html" locals='{"navigation": "Project Navigation"}'>
            <li><a class="dropdown-item scroll-link d-none" href="#bartonic">Project Navigation</a></li>
            <li><a class="dropdown-item scroll-link" href="#define">Define</a></li>
            <li><a class="dropdown-item scroll-link" href="#research">Research</a></li>
            <li><a class="dropdown-item scroll-link" href="#wireframes">Wireframes</a></li>
            <li><a class="dropdown-item scroll-link" href="#iterate">Iterate</a></li>
            <li><a class="dropdown-item scroll-link" href="#future">Future Steps</a></li>
            <li><a class="dropdown-item scroll-link" href="#appendix">Appendix</a></li>
        </module>          				
        <main>            
            <div class="container-fluid">    
                <section class="l-max-width">
                    <h1 id="bartonic">Bar Tonic</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Researcher and Designer</p>
                        <p><strong>Client:</strong> Alex Guizar, Software Developer</p>
                        <p><strong>Timeline:</strong> Current</p>
                        <p><strong>Tools:</strong> Miro, Figma, Procreate</p>                        
                        <p>The client is an avid home bartender and was unsatisfied with the current apps on the market. Deciding to create an app, he enlisted help designing Bar Tonic (working name). The goal is to develop a customizable, category-based cocktail app for home use that scales for medium-sized devices.</p>
                        <a href="https://www.figma.com/proto/fhpy6QuxM9Esxo8o88I0sJ/Cocktail-App?node-id=460%3A303&scaling=scale-down&page-id=456%3A179&starting-point-node-id=460%3A303" class="video" target="_blank"><i class="icon icon-figma">Figma</i><span>View the current prototype in Figma</span></a>
                    </div>               
                    <div class="hero_container is-full">
                        <img srcset="images/bartonic/hero@2x.png 2x" src="images/bartonic/hero.png" alt="Bar Tonic Low Fidelity Wireframes">
                    </div>
                </section>
            
                <section class="l-max-width">
                    <h2 id="define">Define</h2>
                    <p>I met with the client to better understand his design needs, required launch features, and what he felt was lacking from other apps. I moved forward with him as my persona and assumed he was the primary user demographic since the app was for his home use. Since the goal is to launch the app on the Apple Store, I intend to conduct usability testing later in the design process.</p>
                    
                    <p>We agreed that categories and filters should be generalized or set aside until a database of cocktails is available.</p>                                        
                </section>
                
                <section class="l-max-width">
                    <h2 id="research">Research</h2>
                    <p>I started by completing a competitive analysis of the five most popular cocktail/bar apps available by rating and the number of downloads on both the Apple App Store and Google Play. The goal of the competitive analysis was to understand the client’s opinion towards the existing apps on the market, see what features were consistent and expected, and potentially find any areas of opportunity. All my findings were put into a document for the client to view if they were interested, which <a href="images/bartonic/competitive_analysis.pdf" target="_blank">you can view here</a>. I also took screenshots of key features from each app for quick reference if necessary.</p>
                    
                    <p>The competitive analysis helped me construct a project overview that detailed an MVP for launch, with additional stretch goals if time allowed. The MVP included all the features I felt were required and reasonable and would add value to the app considering the current marketplace. Having this defined and approved by the client ensured we were both on the same page moving forward.</p>
                    
                    <p>I organized the required features and <a href="images/bartonic/user_stories.pdf" target="_blank">wrote user stories for each</a>, listing the necessary tasks. Doing this provided more context and gave me a better understanding of task association. I selected three user tasks I thought contained high-priority features and created task flows for them.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/bartonic/taskflow@2x.jpg 2x" src="images/bartonic/taskflow.jpg" alt="Task flow">
                        <figcaption>Task flow created for adding items to inventory</figcaption>
                    </figure>
                    
                    <p>I used this step to help me visualize how the client would perform the task and tried to anticipate any areas of friction. Later in the design process, I referred to these task flows and evaluated my designs. Did the assumed pain point exist? Is there more I can do to make this task easier or enjoyable? I feel this helped me positively iterate on the designs.</p>
                    
                    <p>I used Miro to create user flows for the user tasks, which helped me visualize the app structure and ensure I wasn’t overlooking any necessary features. Creating user flows allows me to consider items that might get overlooked, such as validation or storing data. You can <a href="https://miro.com/app/board/uXjVPDSpzjM=/?share_link_id=199958692282" target="_blank">view the full boards on Miro here</a>.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/bartonic/userflow@2x.jpg 2x" src="images/bartonic/userflow.jpg" alt="User flow showing process for adding item to inventory">
                        <figcaption>User flow to edit, create and rate drink recipes</figcaption>
                    </figure>
                    
                    <p>With these resources in hand, it was time to start working on wireframes to present to the client.</p>
                </section>                                                               
                
                <section class="l-max-width">
                    <h2 id="wireframes">Wireframes</h2>
                    <p>I created a first round of low-fidelity wireframes for the cocktail app. I presented these to the client and completed a round of updates based on the feedback and for consistency. I created a simple prototype from the updates so the client and I could navigate and evaluate the current state.</p>
                    
                    <p>You can <a href="https://www.figma.com/proto/fhpy6QuxM9Esxo8o88I0sJ/Cocktail-App?node-id=345%3A278&scaling=scale-down&page-id=345%3A273&starting-point-node-id=345%3A278" target="_blank">view the first prototype in Figma here</a>.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/bartonic/wireframe01@2x.png 2x" src="images/bartonic/wireframe01.png" alt="First round of wireframes for the process">
                        <figcaption>Selection of screens from the first round of wireframes</figcaption>
                    </figure>                                        
                </section>
                
                <section class="l-max-width">
                    <h2 id="iterate">Iterate</h2>
                    <p>At first, the idea was to build the search bar into the header to allow the user to find recipes or ingredients from within the page. However, the consistency of the search bar in the header section almost had a “disappearing” effect, which was easy to overlook. Additionally, having it present at all times could be unnecessary, for example, when someone was editing a recipe. Providing the user what they needed to perform their desired task seemed a better option, so we agreed to have the search bar present in-page if applicable.</p>
                    
                    <p>I observed competitors stacking functionality on the bottom navigation, and I mimicked this in my first designs. When using the prototype, it felt cluttered and inconsistent having those options change. I also had concerns that the cancel and save functions were in non-common places that I couldn’t justify. Removing the second bottom bar forced me to organize and clean up the navigational structure, which resulted in a cleaner, more familiar layout.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/bartonic/wireframe02@2x.png 2x" src="images/bartonic/wireframe02.png" alt="Second iteration of wireframes for the process">
                        <figcaption>Selection of screens from Bar Tonic app after iterations</figcaption>
                    </figure>
                    
                    <p>I made a second prototype with the updated low-fidelity wireframes, and the client approved this version.</p>
                    
                    <p>You can <a href="https://www.figma.com/proto/fhpy6QuxM9Esxo8o88I0sJ/Cocktail-App?node-id=460%3A303&scaling=scale-down&page-id=456%3A179&starting-point-node-id=460%3A303" target="_blank">view the approved prototype in Figma here</a>.</p>
                </section>
                
                 <section class="l-max-width">
                    <h2 id="future">Future Steps</h2>
                    <p>I am in the process of scaling up the wireframes and designing for medium-sized devices. I am excited to create a unique experience for tablets, and I want to take advantage of the larger screen size and features. Additionally, I plan on conducting usability testing with the wireframes before progressing with the design stage.</p>
                    
                    <p>More to come soon!</p>                                        
                </section>
                
                <section class="l-max-width">
                    <h2 id="appendix">Appendix</h2>                    
                    <ul class="appendix">
                        <li><a href="bartonic_appendix.html#comp_research" target="_blank">Competitor Research</a></li>
                        <li><a href="bartonic_appendix.html#user_stories" target="_blank">User Stories</a></li>
                        <li><a href="bartonic_appendix.html#task_flow" target="_blank">Task Flows</a></li>
                        <li><a href="bartonic_appendix.html#user_flow" target="_blank">User Flows</a></li>   
                        <li><a href="bartonic_appendix.html#wireframes" target="_blank">Wireframes</a></li>
                        <li><a href="bartonic_appendix.html#prototypes" target="_blank">Prototypes</a></li> 
                    </ul>
                </section>                
                
                <module href="/components/morework.html" locals='{"bartonic": "is-active"}'></module>
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>