<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>        
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">
                <p class="l-max-width"><strong>Front-end web developer turned UX researcher and designer.</strong> I offer years of a mobile-first development approach, a solution-based mindset, and strong organizational skills.</p> 
                <section id="#Work">
                    <h2>Work</h2>
                    <div class="row">                        
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="..." alt="Together Forward Travel High Fidelity Mock">
                                <div class="card-body">
                                    <h5 class="card-title">Together Forward Travel</h5>
                                    <p class="card-text">An in-depth UX case study for a travel app.</p>
                                    <a href="#" class="btn btn-primary">How I Customized Travel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="..." alt="Aprende Paper Wireframes">
                                <div class="card-body">
                                    <h5 class="card-title">¡Aprende!</h5>
                                    <p class="card-text">Wireframes & prototype for a Spanish vocabulary app.</p>
                                    <a href="#" class="btn btn-primary">My Vocabulary Research</a>
                                </div>
                            </div>
                        </div>
                    </div>                                                
                 </section>
            
                <section id="#About" class="l-max-width">
                    <h2>About</h2>
                    <p>I’m a UX researcher and designer with seven years of experience in web development. In this role I became interested in the finer details of the user experience so I began the CareerFoundry UX Design program in my free time after work.</p>
                    <p>It is my goal to work remotely for an inclusive company where I can contribute and learn, with fellow employees who are positive and passionate about the work they do.</p>

                    <h3>Testimonials</h3>
                    <p>I enjoy collaborating to make projects happen. Here is what people have to say about working with me.</p>
                    
                    <div class="row">    
                        <figure class="col-12 col-md-6 col-lg-4">
                            <blockquote>Example of a really nice thing someone might say about working with me!”</blockquote>
                            <figcaption>Example Person, Example Profession, Location</figcaption>
                        </figure>
                         <figure class="col-12 col-md-6 col-lg-4">
                            <blockquote>Example of a really nice thing someone might say about working with me!”</blockquote>
                            <figcaption>Example Person, Example Profession, Location</figcaption>
                        </figure>
                     </div>   
                    
                    <h3>More Info</h3>
                    <p>In my free time, I collect both figures and vinyl records. I love travelling and planning trips. I try to participate in an escape room and a cooking class if I can!</p>
                    <p>Have you heard of the critically acclaimed MMORPG Final Fantasy XIV? I play a paladin and lead a free company, which includes organizing events for my members and running the Discord server.</p>
                </section>
                 
                <section id="#Resume" class="l-max-width">
                    <h2>Resume</h2>
                    <p>I currently live in San Luis Obispo, CA. and I’m willing to relocate.</p>
                    <p>You can view or download my resume here:</p>
                    <div class="btn-wrap"><a href="#" class="btn btn-primary">View My Resume</a></div>
                    <p>Interested in working together or want to chat? I’m looking forward to hearing from you!</p>
                </section>                 
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>
		<script src="./bundle.js"></script> 
	</body>
</html>