<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | UX Researcher &amp; Designer Portfolio</title>
	</head>
	<body>
        <module href="/components/header-nav.html" locals='{"work": "is-active"}'></module>        				
        <main>            
            <div class="container-fluid">
                <p class="l-max-width"><strong>Front-end web developer turned UX researcher and designer.</strong> I offer years of a mobile-first development approach, a solution-based mindset, and strong organizational skills.</p> 
                <section id="#work">
                    <h1 class="h2">Work</h1>
                    <p>A selection of my most recent projects and case studies.</p>
                    <div class="row casestudy">
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="cooking_with_roux.html">
                                <div class="card">                                   
                                    <div class="img_wrap">
                                        <img class="card-img-top" srcset="images/roux@2x.jpg 2x" src="images/roux.jpg" alt="Cooking With Roux Chat">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Cooking With Roux</h5>
                                        <p class="card-text">A exploration into Voice User Interface Design with the creation of a cooking assistant.</p>
                                    </div>
                                    <div class="card-footer">
                                        <span class="btn btn-primary">Learn More About Roux</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="together_forward_travel.html">
                                <div class="card">
                                    <div class="img_wrap">
                                        <img class="card-img-top" srcset="images/tft@2x.jpg 2x" src="images/tft.jpg" alt="Together Forward Travel High Fidelity Mock">
                                    </div>                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Together Forward Travel</h5>
                                        <p class="card-text">An in-depth UX case study for a mobile travel app.</p>
                                    </div>
                                    <div class="card-footer">
                                        <span class="btn btn-primary">How I Customized Travel</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <a href="aprende.html">
                                <div class="card">
                                    <div class="img_wrap">
                                        <img class="card-img-top" srcset="images/aprende@2x.jpg 2x" src="images/aprende.jpg" alt="Aprende Paper Wireframes">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">¡Aprende!</h5>
                                        <p class="card-text">Wireframes & prototype for a Spanish vocabulary app.</p>
                                    </div>
                                    <div class="card-footer">
                                        <span class="btn btn-primary">My Vocabulary Research</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>                                                
                </section>
                
                <section id="#about" class="l-max-width">
                    <h2>About</h2>
                    <div class="row about_info">
                        <div class="col-12 col-sm-8">
                            <p>Hello, I'm Logan! I am a UX researcher and designer with seven years of experience in front-end web development. In this role, I became interested in the finer details of the user experience and began the CareerFoundry UX Design program in my free time after work.</p>                   
                            <p>It's my goal to work for an inclusive company where I can contribute and learn with fellow employees who are positive and passionate about the work they do.</p>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="img_container">
                                <img srcset="images/LoganPortrait@2x.jpg 2x" src="images/LoganPortrait.jpg" alt="Logan Ibarra">
                            </div>
                        </div>                        
                    </div>
                </section>
                 
                <section id="#resume" class="l-max-width">
                    <h2>Resume</h2>
                    <p>I currently live in San Luis Obispo, California and I’m willing to relocate. You can view or download my resume here:</p>
                    <div class="btn-wrap"><a href="resume.html" class="btn btn-primary">View My Resume</a></div>
                    <p>Interested in working together or want to chat? I am available by <a href="https://www.linkedin.com/in/loganibarra/" target="_blank">LinkedIn</a> or <a href="mailto:logan.e.ibarra@gmail.com">logan.e.ibarra@gmail.com</a>. I’m looking forward to hearing from you!</p>
                </section>                 
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>