<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Resume</title>
	</head>
	<body>
        <header class="navigation">
            <a href="index.html"><i class="icon icon-logo">Logan</i></a>            
            <nav id="header-nav" class="pagenav">
                <ul class="nav">
                    <li class="nav-item"><a href="index.html" class="nav-link header_link">Home</a></li>            
                </ul>
            </nav>            
        </header>      				
        <main>            
            <div class="container-fluid">                
                <section id="#resume" class="l-max-width resume_container">
                    
                    <header class="resume_withlink">
                        <h1 class="h2">Resume</h1>                       
                        <a href="images/Ibarra-Logan-Resume.pdf" target="_blank" class="video"><i class="icon icon-download">Download</i><span class="ps-0">Download Resume</span></a>
                    </header>                  
                                                                
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <header class="name_contain">
                                <h2 class="name">Logan Ibarra</h2>
                                <p class="title">UX Researcher and Designer</p>
                            </header>
                        </div>
                        
                        <div class="col-12 col-md-8">
                            <p>Developer turned UX researcher and designer with an analytical mindset and organizational skills. Experience with complex project management and communicating across multiple teams. Understands the balance of focusing on the user and meeting company needs.</p>
                        </div>
                    </div>
                    
                    <div class="row">                        
                        <div class="col-12 col-md-4 connect_items">                                                    
                            <h2>Connect</h2>
                            <p><a href="mailto:logan.e.ibarra@gmail.com">logan.e.ibarra@gmail.com</a></p>
                            <p><a href="tel:8052356340">(805)235-6340</a></p>
                            <p>San Luis Obispo, CA.<br><i>(open to relocation)</i></p>
                            <p><a href="https://www.linkedin.com/in/loganibarra">www.linkedin.com/in/loganibarra</a></p>
                            <p><a href="https://www.loganibarra.com">www.loganibarra.com</a></p>
                            
                            <h2>Skills</h2>
                            <ul>
                                <li>Content Auditing</li>
                                <li>Competitive Analysis</li>
                                <li>User Interviews</li>
                                <li>User Research</li>
                                <li>User Flows</li>
                                <li>User Personas</li>
                                <li>Usability Testing</li>
                                <li>Affinity Mapping</li>
                                <li>Wireframing</li>
                                <li>Prototyping</li>
                                <li>Preference Testing</li>
                                <li>HTML5</li>
                                <li>CSS/SASS</li>                                
                                <li>JavaScript</li>                                
                                <li>Bootstrap</li>
                            </ul>
                            
                            <h2>Tools</h2>
                            <ul>
                                <li>Figma</li>
                                <li>Marvel</li>
                                <li>Miro</li>                                
                                <li>Google Analytics</li>
                                <li>UsabilityHub</li>
                                <li>UserZoom GO</li>
                            </ul>
                            
                            <h2>Education</h2>
                            <p>CareerFoundry - UX Design<br><i>January 2021 - January 2022</i></p>
                        </div>
                        
                        <div class="col-12 col-md-8">                            
                            <h2 class="pb-0">Projects</h2>
                            <h3>Travel Planning App</h3>
                            <p>Designed a travel planning app by performing competitor research, creating user personas, conducting usability testing, and iterating upon wireframes using Figma, Balsamiq, and Procreate. View the case study here: <a href="together_forward_travel.html">Together Forward Travel App</a></p>
                                                       
                            <h3>Modular Category Pages</h3>
                            <p>Developed modular components through an iterative process, using a design system, working on a grid, and collaborating with stakeholders using Bootstrap and Javascript. View live example here: <a href="https://www.tennis-warehouse.com/TennisRacquets.html">Tennis Racquets on Tennis Warehouse.com</a></p>
                            
                            <h2 class="pb-0">Experience</h2>
                            <h3><span>Front-End Web Developer</span><span>Sports Warehouse, Inc.</span></h3>
                            <p class="date"><span>March 2015 - April 2022</span><span>San Luis Obispo, CA</span></p>
                            <ul class="tasks">
                                <li>Co-developed and launched a responsive framework across seven companies, increasing mobile conversions by 8% in the first week alone</li>
                                <li>Spearheaded research and analysis for company-wide ADA compliance audit, allowing the company to pass a third-party compliance test</li>
                                <li>Collaborated with project managers on new user flow for customized landing pages, providing companies control to implement category-driven content as needed</li>
                                <li>Trained and provided code review to successfully onboard fellow programmers and launch additional site redesigns</li>
                                <li>Organized tasks for large-scale projects across companies, ensuring smooth product deployment</li>
                            </ul>
                            
                            <h3><span>Assistant Hotel Manager</span><span>Madonna Inn, Inc.</span></h3>
                            <p class="date"><span>April 2012 - March 2015</span><span>San Luis Obispo, CA</span></p>
                            <ul class="tasks">
                                <li>Established documentation and a consistent training procedure, empowering new employees to take on responsibilities and move into key positions faster</li>
                                <li>Available as a trusted point person to all property employees, facilitating smooth day-to-day operations and reports</li>                                
                            </ul>
                        </div>                        
                    </div>
                    
                </section>                                                  
            </div>          
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>