<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Resume</title>
	</head>
	<body>
        <module href="/components/header-nav.html" locals='{"resume": "is-active"}'></module>        				
        <main>            
            <div class="container-fluid">                
                <section id="#resume" class="l-max-width">
                    <h1 clas="h2">Resume</h1>
                    
                </section>                                                  
            </div>          
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>
		<script src="./bundle.js"></script> 
	</body>
</html>