<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Together Forward Travel</title>
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">    
                <section id="#tft" class="l-max-width">
                    <h1>Together Forward Travel</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Research and Design</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Tools:</strong> Figma, Miro, Balsamiq, Procreate, Usability Hub, Optimal Sort, Google Forms, Google Sheets</p> <a href="https://www.youtube.com/watch?v=qfit-nKxUls" class="video"><i class="icon icon-youtube">YouTube</i><span>Watch a video of the prototype</span></a>                        
                    </div>
                    <p>A travel app that provides custom itineraries from local guides or travel agents.</p> 
                    <p>Travelers submit their preferences and are provided with itineraries and prices from available partners.</p>
                    
                    <div class="hero_container">
                        <img srcset="" src="" alt="Together Forward Travel High Fidelty Mocks">
                    </div>
                </section>
            
                <section id="#define" class="l-max-width">
                    <h2>Define</h2>
                    <p>I formulated a list of possible problems the app could solve for our travelers and how it could be useful.</p>
                    <p>I hypothesized that our travelers&#8230;</p>
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-dollar">Dollar Sign</i><span>Find a travel agent expensive</span></li>
                        <li><i class="icon icon-display icon-calendar">Calendar</i><span>Don’t want to adhere to a tour schedule for the whole trip</span></li>
                        <li><i class="icon icon-display icon-puzzle">Puzzle Piece</i><span>Have unique interests that aren’t catered to with other itineraries</span></li>
                        <li><i class="icon icon-display icon-pencil">Pencil</i><span>Don’t feel confident in their ability to research and plan</span></li>
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire customization</span></li>
                    </ul>
                    <p>I crafted my initial problem statement.</p>
                    <p class="highlight">Our traveler needs a way to connect to a local travel agent or guide that can offer them customized itineraries because the current market offerings are too structured or expensive.</p>
                    <p class="highlight">We will know this to be true when we see trips successfully planned and increased engagement on the app.</p>
                </section>
                
                <section id="#research" class="l-max-width">
                    <h2>Research</h2>
                    <p>I <strong>conducted competitor research</strong> on two companies that provide travel customization services, Journy and Mr. Hudson. <a href="">You can view the competitive analysis here</a>.</p>
                    <p>I <strong>created user stories</strong> focused on key functionalities I currently thought would be useful for travelers.</p> 
                    <p>Research goals were established and I <strong>conducted a survey</strong> with a total of 35 participants.</p> 
                    <p>Key insights from the survey included:</p>
                    
                    <div class="row insight_container">
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Age Demographic</div>
                                <i class="icon icon-people icon-large">People</i>
                                <div class="insight_card-title">25 - 34</div>
                                <div>Years Old</div>
                            </div>                            
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Planning</div>
                                <i class="icon icon-id icon-large">ID Card</i>
                                <div class="insight_card-title">17.6%</div>
                                <div>Used a Travel Agent</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Concerns</div>
                                <i class="icon icon-bed icon-large">Bed</i>
                                <div class="insight_card-title">Where to Stay</div>
                                <div>&amp; Transportation</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Frequency / Purpose</div>
                                <i class="icon icon-plane icon-large">Plane</i>
                                <div class="insight_card-title">2 - 3 per year</div>
                                <div>on Avg. for Pleasure</div>
                            </div>
                        </div>
                    </div>
                    
                    <p>With this information, I <strong>conducted three in-person user interviews</strong> with participants that were in the app’s age demographic, interested in travel, and mobile app friendly.</p>
                    <p>Takeaways from the user interviews:</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Activity-Focused</p>
                            <p>Participants were active and activity-focused in their previous travels or future interests</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Willing to Use Travel Planners</p>
                            <p>Unlike the majority of survey participants, they had considered or used travel planners</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Limited Travel App Knowledge</p>
                            <p>Participants were unaware of existing apps that offered requested functionalities</p>
                        </div>
                    </div>
                    
                    <p>I hypothesized that survey participants are traveling to locations they are familiar with, such as visiting family, or prefer more downtime during their vacations. I choose to cater the app towards an activity-focused traveler based on my user interviews.</p>
                    <p>With my interview notes and audio, I <strong>created an affinity map</strong>. <a href="">This affinity map</a> was organized into sections based on participants’ comments. I evaluated this affinity map and made mental notes for things I would improve on next time to make it digestible at the glance.</p>
                    <p>The affinity map provided further insight into our travelers and how our app can cater to them.</p>
                    
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire the option to customize</span></li>
                        <li><i class="icon icon-display icon-star">Star</i><span>Use reviews to help make choices</span></li>
                        <li><i class="icon icon-display icon-house">House</i><span>Airbnbs are their lodging preference</span></li>
                        <li><i class="icon icon-display icon-train">Train</i><span>Arranging transportation is stressful</span></li>
                        <li><i class="icon icon-display icon-gem">Gem</i><span>Willing to purchase all-inclusive packages</span></li>
                    </ul>
                    
                    <p>After completing my research analysis it was time to <strong>craft two user personas</strong> and <strong>user journeys</strong>.</p>
                    <p>Meet Karly, our adventurous traveler. She is a savvy, experienced traveler interested in customization for her entire upcoming trip to the Azores with her spouse. Karly wants to experience new activities, must-see locations, all while getting the best price. She is patient and will wait to secure a deal.</p>
                    
                    <figure>
                        <img srcset="" src="" alt="Karly Persona">
                        <figcaption>Karly, The Adventerous Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="Karly User Journey">
                        <figcaption>Karly’s User Journey</figcaption>
                    </figure>
                    
                    <p>Also meet Shawn, our casual traveler. He often travels with friends and isn’t the main planner. Shawn and his partner are looking to reserve transportation and a lunch recommendation while in Porto. He enjoys researching food and nightlife, then sharing with the group.</p>
                    
                    <figure>
                        <img srcset="" src="" alt="Shawn Persona">
                        <figcaption>Shawn, The Casual Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="Shawn User Journey">
                        <figcaption>Shawn’s User Journey</figcaption>
                    </figure>
                    
                    <p>I <strong>completed a content audit</strong> for Mr. Hudson, focusing on their trip design product. You can <a href="">view the content audit here</a>. This helped me understand how a similar platform was structuring its content and I enjoyed the organizational aspect of the task.</p>
                    <p>I established initial user flows and a site map to visualize necessary functionalities. Before proceeding with these, I <strong>performed a card sort using Optimal Sort</strong> with 9 users with my menu naming conventions. I wanted to test how intuitive the navigation was. The card sort simplified my names and structure and was a rapid, inexpensive way to do so.</p>                                        
                </section>
                
                <section id="#wireframes" class="l-max-width">
                    <h2>Wireframes</h2>
                    <p>With my research in hand, I began with some <strong>low-fidelity wireframes</strong>. I also created wireframes for larger device types to visualize how the elements would scale if necessary.</p>
                    
                    <module href="/components/wireframe.html"></module>
                    
                    <p>I evaluated the low-fidelity wireframes and swapped out the panel navigation for a bottom navigation bar to improve usability and remove unnecessary links. I adjusted how a first-time user would create an account. My goal was to reduce duplicate content and streamline access.</p>
                    <p>With these changes, I <strong>created mid-fidelity wireframes in Figma</strong> for the sign-in pages, trip planning process, and the “My Trips” pages. These wireframes were used to <strong>create a prototype for usability tests</strong>.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Mid-fidelity Wireframes">
                    </div>                    
                </section>
                
                <section id="#wireframes" class="l-max-width">
                    <h2>User Testing</h2>
                    <p>I prepared a usability test plan, script, and a consent form for participants.</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Test Objectives</p>
                            <p>Determine if participants could add a new trip request</p>
                            <p>Observe how participants navigated the app</p>
                            <p>Gauge value app provided while planning future trips</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Method</p>
                            <p>Six (6) moderated in-person usability tests</p>
                            <p>Included a short briefing, tasks, and a debriefing</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Participants</p>
                            <p>Recruited through social media and in person</p>
                            <p>Within the age demographic, mobile app users, and participated in travel</p>
                        </div>
                    </div>
                    
                    
                    <div class="row insight_container">
                        <div class="col-12 col-sm-6 col-lg-4 insight_card">
                            <div class="insight_card-inner">                                
                                <i class="icon icon-people icon-large">People</i>
                                <div class="insight_card-title">Test Objectives</div>
                                <div>Determine if participants could add a new trip request</div>
                                <div>Observe how participants navigated the app</div>
                                <div>Gauge value app provided while planning future trips</div>
                            </div>                            
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 insight_card">
                            <div class="insight_card-inner">                                
                                <i class="icon icon-id icon-large">ID Card</i>
                                <div class="insight_card-title">Method</div>
                                <div>Six (6) moderated in-person usability tests</div>
                                <div>Included a short briefing, tasks, and a debriefing</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 insight_card">
                            <div class="insight_card-inner">                                
                                <i class="icon icon-bed icon-large">Bed</i>
                                <div class="insight_card-title">Participants</div>
                                <div>Recruited through social media and in person</div>
                                <div>Within the age demographic, mobile app users, and participated in travel</div>
                            </div>
                        </div>                       
                    </div>
                </section>
                
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>