<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Together Forward Travel</title>
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">    
                <section id="#tft" class="l-max-width">
                    <h1>Together Forward Travel</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Research and Design</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Tools:</strong> Figma, Miro, Balsamiq, Procreate, Usability Hub, Optimal Sort, Google Forms, Google Sheets</p>
                        <a href="https://www.youtube.com/watch?v=qfit-nKxUls" class="video"><i class="icon icon-youtube">YouTube</i><span>Watch a video of the prototype</span></a>                        
                    </div>
                    <p>A travel app that provides custom itineraries from local guides or travel agents.</p> 
                    <p>Travelers submit their preferences and are provided with itineraries and prices from available partners.</p>
                    
                    <div class="hero_container">
                        <img srcset="" src="" alt="Together Forward Travel High Fidelty Mocks">
                    </div>
                </section>
            
                <section id="#define" class="l-max-width">
                    <h2>Define</h2>
                    <p>I formulated a list of possible problems the app could solve for our travelers and how it could be useful.</p>
                    <p>I hypothesized that our travelers&#8230;</p>
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-dollar">Dollar Sign</i><span>Find a travel agent expensive</span></li>
                        <li><i class="icon icon-display icon-calendar">Calendar</i><span>Don’t want to adhere to a tour schedule for the whole trip</span></li>
                        <li><i class="icon icon-display icon-puzzle">Puzzle Piece</i><span>Have unique interests that aren’t catered to with other itineraries</span></li>
                        <li><i class="icon icon-display icon-pencil">Pencil</i><span>Don’t feel confident in their ability to research and plan</span></li>
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire customization</span></li>
                    </ul>
                    <p>I crafted my initial problem statement.</p>
                    <p class="highlight">Our traveler needs a way to connect to a local travel agent or guide that can offer them customized itineraries because the current market offerings are too structured or expensive.</p>
                    <p class="highlight">We will know this to be true when we see trips successfully planned and increased engagement on the app.</p>
                </section>
                
                <section id="#research" class="l-max-width">
                    <h2>Research</h2>
                    <p>I <strong>conducted competitor research</strong> on two companies that provide travel customization services, Journy and Mr. Hudson. <a href="">You can view the competitive analysis here</a>.</p>
                    <p>I <strong>created user stories</strong> focused on key functionalities I currently thought would be useful for travelers.</p> 
                    <p>Research goals were established and I <strong>conducted a survey</strong> with a total of 35 participants.</p> 
                    <p>Key insights from the survey included:</p>
                    
                    <div class="row insight_container">
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Age Demographic</div>
                                <i class="icon icon-people icon-large">People</i>
                                <div class="insight_card-title">25 - 34</div>
                                <div>Years Old</div>
                            </div>                            
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Planning</div>
                                <i class="icon icon-id icon-large">ID Card</i>
                                <div class="insight_card-title">17.6%</div>
                                <div>Used a Travel Agent</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Concerns</div>
                                <i class="icon icon-bed icon-large">Bed</i>
                                <div class="insight_card-title">Where to Stay</div>
                                <div>&amp; Transportation</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Frequency / Purpose</div>
                                <i class="icon icon-plane icon-large">Plane</i>
                                <div class="insight_card-title">2 - 3 per year</div>
                                <div>on Avg. for Pleasure</div>
                            </div>
                        </div>
                    </div>
                    
                    <p>With this information, I <strong>conducted three in-person user interviews</strong> with participants that were in the app’s age demographic, interested in travel, and mobile app friendly.</p>
                    <p>Takeaways from the user interviews:</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Activity-Focused</p>
                            <p>Participants were active and activity-focused in their previous travels or future interests</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Willing to Use Travel Planners</p>
                            <p>Unlike the majority of survey participants, they had considered or used travel planners</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Limited Travel App Knowledge</p>
                            <p>Participants were unaware of existing apps that offered requested functionalities</p>
                        </div>
                    </div>
                    
                    <p>I hypothesized that survey participants are traveling to locations they are familiar with, such as visiting family, or prefer more downtime during their vacations. I choose to cater the app towards an activity-focused traveler based on my user interviews.</p>
                    <p>With my interview notes and audio, I <strong>created an affinity map</strong>. <a href="">This affinity map</a> was organized into sections based on participants’ comments. I evaluated this affinity map and made mental notes for things I would improve on next time to make it digestible at the glance.</p>
                    <p>The affinity map provided further insight into our travelers and how our app can cater to them.</p>
                    
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire the option to customize</span></li>
                        <li><i class="icon icon-display icon-star">Star</i><span>Use reviews to help make choices</span></li>
                        <li><i class="icon icon-display icon-house">House</i><span>Airbnbs are their lodging preference</span></li>
                        <li><i class="icon icon-display icon-train">Train</i><span>Arranging transportation is stressful</span></li>
                        <li><i class="icon icon-display icon-gem">Gem</i><span>Willing to purchase all-inclusive packages</span></li>
                    </ul>
                    
                    <p>After completing my research analysis it was time to <strong>craft two user personas</strong> and <strong>user journeys</strong>.</p>
                    <p>Meet Karly, our adventurous traveler. She is a savvy, experienced traveler interested in customization for her entire upcoming trip to the Azores with her spouse. Karly wants to experience new activities, must-see locations, all while getting the best price. She is patient and will wait to secure a deal.</p>
                    
                    <figure>
                        <img srcset="" src="" alt="Karly Persona">
                        <figcaption>Karly, The Adventerous Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="Karly User Journey">
                        <figcaption>Karly’s User Journey</figcaption>
                    </figure>
                    
                    <p>Also meet Shawn, our casual traveler. He often travels with friends and isn’t the main planner. Shawn and his partner are looking to reserve transportation and a lunch recommendation while in Porto. He enjoys researching food and nightlife, then sharing with the group.</p>
                    
                    <figure>
                        <img srcset="" src="" alt="Shawn Persona">
                        <figcaption>Shawn, The Casual Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="Shawn User Journey">
                        <figcaption>Shawn’s User Journey</figcaption>
                    </figure>
                    
                    <p>I <strong>completed a content audit</strong> for Mr. Hudson, focusing on their trip design product. You can <a href="">view the content audit here</a>. This helped me understand how a similar platform was structuring its content and I enjoyed the organizational aspect of the task.</p>
                    <p>I established initial user flows and a site map to visualize necessary functionalities. Before proceeding with these, I <strong>performed a card sort using Optimal Sort</strong> with 9 users with my menu naming conventions. I wanted to test how intuitive the navigation was. The card sort simplified my names and structure and was a rapid, inexpensive way to do so.</p>                                        
                </section>
                
                <section id="#wireframes" class="l-max-width">
                    <h2>Wireframes</h2>
                    <p>With my research in hand, I began with some <strong>low-fidelity wireframes</strong>. I also created wireframes for larger device types to visualize how the elements would scale if necessary.</p>
                    
                    <module href="/components/wireframe.html"></module>
                    
                    <p>I evaluated the low-fidelity wireframes and swapped out the panel navigation for a bottom navigation bar to improve usability and remove unnecessary links. I adjusted how a first-time user would create an account. My goal was to reduce duplicate content and streamline access.</p>
                    <p>With these changes, I <strong>created mid-fidelity wireframes in Figma</strong> for the sign-in pages, trip planning process, and the “My Trips” pages. These wireframes were used to <strong>create a prototype for usability tests</strong>.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Mid-fidelity Wireframes">
                    </div>                    
                </section>
                
                <section id="#usertesting" class="l-max-width">
                    <h2>User Testing</h2>
                    <p>I prepared a usability test plan, script, and a consent form for participants.</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Test Objectives</p>
                            <p>Determine if participants could add a new trip request</p>
                            <p>Observe how participants navigated the app</p>
                            <p>Gauge value app provided while planning future trips</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Method</p>
                            <p>Six (6) moderated in-person usability tests</p>
                            <p>Included a short briefing, tasks, and a debriefing</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Participants</p>
                            <p>Recruited through social media and in person</p>
                            <p>Within the age demographic, mobile app users, and participated in travel</p>
                        </div>
                    </div>
                    
                    <p>I evaluated my audio, video, and notes from usability testing and <strong>created an affinity map in Miro</strong>.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Affinity Map">
                    </div>
                    
                    <p>Data from the affinity map was then <strong>organized into a rainbow spreadsheet</strong>. This allowed me see error severity and frequency at a glance while noting possible solutions.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Rainbow Spreadsheet">
                    </div>
                    
                    <p>Painpoints included the onboarding process, buttons, and a potentially unnecessary "save" function.</p>
                </section>
                
                <section id="#usertesting" class="l-max-width">
                    <h2>Iterate</h2>
                    <p>I worked through my rainbow spreadsheet, making updates as prioritized by severity, frequency, and approximate time to complete.</p>
                    <p>A high-severity issue included how participants didn’t swipe through the onboarding carousel, which led to confusion later as to what the service was offering.</p>
                    <p>I adjusted the onboarding to a vertical scroll layout and trimmed some unnecessary wording.</p>
                    <p>I also <strong>performed a preference test</strong> with 25 participants to determine if the word “free” on the button would make a user feel inclined to continue.</p>
                    <p>16 out of 25 participants selected the option with the “free” verbiage and the call to action button was updated to reflect this.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Preference Test Results">
                    </div>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Onboarding Screen Iteration with Updates">
                    </div>
                </section>
                
                <section id="#design" class="l-max-width">
                    <h2>Design</h2>
                    <p>While determining the color palette, I considered our adventurous traveler Karly. Together Forward Travel includes natural greens, an energetic yellow-orange, and an exotic purple to evoke feelings of joy and new experiences.</p>
                    
                    <div class="img_container">
                        <img srcset="" src="" alt="Color Palette">
                    </div>
                    
                    <p>I <strong>utilized and applied Material Design guidelines</strong> and designed along an 8pt grid. Due to my familiarity with Bootstrap, I designed with that in mind for certain components.</p>
                    <p>After evaluating the elements in use, I <strong>established design documentation and a design language system</strong>.</p>
                    <p>The designs were <strong>audited against WCAG standards for ADA compliance</strong>. Several changes were made to ensure a compliant and consistent user experience.</p>
                    <p>Below are the final mocks for Together Foward Travel.</p>
                    
                    <figure>
                        <img srcset="" src="" alt="Splash Page, Onboarding, Account Creation, Sign In Mocks">
                        <figcaption>Splash page, onboarding, account creation, and sign in process.</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="Trip Planning Mocks">
                        <figcaption>Trip planning process.</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="" src="" alt="My Trip Dashboard and Edit Itinerary Option Mocks">
                        <figcaption>My Trip Pages with Edit Itinerary process.</figcaption>
                    </figure>
                    
                    <a href="https://www.youtube.com/watch?v=qfit-nKxUls" class="video"><i class="icon icon-youtube">YouTube</i><span>Watch a video of the prototype</span></a>                                        
                </section>
                
                <section id="#reflect" class="l-max-width">
                    <h2>Reflect</h2>
                    <p>Working on Together Foward Travel helped solidify my understanding of the design process from start to finish. It improved my speed and comfortability with Figma. I have a better idea of how to approach and organize my next large project.</p>
                    <p>Next time, I will formulate some of my survey questions differently. I want to ensure I am asking questions that are simple to understand while providing good data.</p>
                    <p>I also want to make sure I am regularly returning to my research, such as my personas, regularly throughout the design process.</p>
                    <p>I am currently working on my UX writing skills and can already see many areas for improvement.</p>
                    <p class="highlight">A very special thank you to my tutor, Candace and my mentor, Abhi who both offered valuable time and resources.</p>
                </section>
                
                <section id="#more" class="more_work">
                    <h2>More of My Work</h2>
                    <div class="row casestudy">
                        <div class="col-12 col-md-6">
                            <a href="/cooking_with_roux.html">                                
                                <div class="card is-small">
                                    <div class="row align-items-center">
                                        <div class="col-4">
                                            <!-- Placeholder -->
                                            <div class="img_wrap">
                                                <img class="card-img-top" srcset="images/tft2x.jpg 2x" src="images/tft.jpg" alt="Cooking With Roux Chat">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body ps-0">
                                                <h5 class="card-title">Cooking With Roux</h5>
                                                <p class="card-text small">A foray into Voice User Interface Design.</p>
                                            </div>
                                            <div class="card-footer ps-0">
                                                <span class="btn btn-link">Learn More About Roux</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="/aprende.html">                                
                                <div class="card is-small">
                                    <div class="row align-items-center">
                                        <div class="col-4">                                            
                                            <div class="img_wrap">
                                                <img class="card-img-top" srcset="images/aprende2x.jpg 2x" src="images/aprende.jpg" alt="Aprende Paper Wireframes">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body ps-0">
                                                <h5 class="card-title">¡Aprende!</h5>
                                                <p class="card-text small">Wireframes & prototype for a Spanish vocabulary app.</p>
                                            </div>
                                            <div class="card-footer ps-0">
                                                <span class="btn btn-link">My Vocabulary Research</span>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>