<!DOCTYPE html>
<html lang="en">
	<head>     
		<module href="/components/head.html"></module>
        <title>Logan Ibarra | Together Forward Travel</title>
	</head>
	<body>
        <module href="/components/header-nav.html"></module>        				
        <main>            
            <div class="container-fluid">    
                <section id="#tft" class="l-max-width">
                    <h1>Together Forward Travel</h1>
                    <div class="breakdown">
                        <p><strong>Role:</strong> UX Research and Design</p>
                        <p><strong>Client:</strong> CareerFoundry UX Design (Academic)</p>
                        <p><strong>Tools:</strong> Figma, Miro, Balsamiq, Procreate, Usability Hub, Optimal Sort, Google Forms, Google Sheets</p>
                        <p>Together Forward Travel is designed to provide custom itineraries from local guides and agents. Travelers submit their preferences to be offered itineraries and prices from available partners. I worked on this project from conception to delivery. It showcases my ability to conduct user interviews, usability testing, and the decision-making skills to pivot when necessary. As an avid traveler, learning about others' motivations was enjoyable. Additionally, this project taught me how to set aside my assumptions about users' needs.</p>  
                        <a href="https://www.youtube.com/watch?v=qfit-nKxUls" class="video" target="_blank"><i class="icon icon-youtube">YouTube</i><span>Watch a video of the prototype</span></a>                        
                    </div>
                    
                    <div class="hero_container">
                        <img srcset="images/tft/tftHero2x.jpg 2x" src="images/tft/tftHero.jpg" alt="Together Forward Travel High Fidelty Mocks">
                    </div>
                </section>
            
                <section id="#define" class="l-max-width">
                    <h2>Define</h2>
                    <p>I formulated a list of possible problems the app could solve for our travelers and how it could be helpful.</p>
                    <p>I hypothesized that travelers:</p>
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-dollar">Dollar Sign</i><span>Find a travel agent expensive</span></li>
                        <li><i class="icon icon-display icon-calendar">Calendar</i><span>Don’t want to adhere to a tour schedule for the whole trip</span></li>
                        <li><i class="icon icon-display icon-puzzle">Puzzle Piece</i><span>Have unique interests that aren’t catered to with other itineraries</span></li>
                        <li><i class="icon icon-display icon-pencil">Pencil</i><span>Don’t feel confident in their ability to research and plan</span></li>
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire customization</span></li>
                    </ul>
                    <p>I crafted my initial problem statement.</p>
                    <p class="highlight">Our traveler needs a way to connect to a local travel agent or guide that can offer them customized itineraries because the current market offerings are too structured or expensive.</p>
                    <p class="highlight">We will know this to be true when we see trips successfully planned and increased engagement on the app.</p>
                </section>
                
                <section id="#research" class="l-max-width">
                    <h2>Research</h2>
                    <p>I <strong>conducted competitor research</strong> on two companies that provide travel customization services, Journy and Mr. Hudson. <a href="images/tft/competitive_analysis.pdf" target="_blank">You can view the competitive analysis here</a>.</p>
                    <p>I <strong>created user stories</strong> focused on key functionalities I currently thought would be useful for travelers.</p> 
                    <p>Research goals were established and I <strong>surveyed</strong> 35 participants.</p> 
                    <p>Key insights from the survey included:</p>
                    
                    <div class="row insight_container">
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Age Demographic</div>
                                <i class="icon icon-people icon-large">People</i>
                                <div class="insight_card-title">25 - 34</div>
                                <div>Years Old</div>
                            </div>                            
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Planning</div>
                                <i class="icon icon-id icon-large">ID Card</i>
                                <div class="insight_card-title">17.6%</div>
                                <div>Used a Travel Agent</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Concerns</div>
                                <i class="icon icon-bed icon-large">Bed</i>
                                <div class="insight_card-title">Where to Stay</div>
                                <div>&amp; Transportation</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 insight_card">
                            <div class="insight_card-inner">
                                <div>Frequency / Purpose</div>
                                <i class="icon icon-plane icon-large">Plane</i>
                                <div class="insight_card-title">2 - 3 per year</div>
                                <div>on Avg. for Pleasure</div>
                            </div>
                        </div>
                    </div>
                    
                    <p>With this information, I <strong>conducted three in-person user interviews</strong> with participants in the app’s age demographic, interested in travel, and mobile app friendly.</p>
                    <p>Takeaways from the user interviews:</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Activity-Focused</p>
                            <p>Participants were active and activity-focused on their previous travels or future interests.</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Willing to Use Travel Planners</p>
                            <p>Unlike the survey participants, they had considered or used travel planners.</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Limited Travel App Knowledge</p>
                            <p>Participants were unaware of existing apps that offered requested functionalities.</p>
                        </div>
                    </div>
                    
                    <p>I hypothesized that survey participants are traveling to familiar locations like visiting family or prefer more downtime during their vacations. I catered the app toward an activity-focused traveler based on my user interviews.</p>
                    <p>With my interview notes and audio, I <a href="images/tft/affinity_map.jpg" target="_blank">created an affinity map</a>. I evaluated the affinity map and made mental notes for things I would improve on next time to make it digestible at a glance.</p>
                    <p>The affinity map provided further insight into our travelers and how the app can cater to them.</p>
                    
                    <ul class="icon-list">
                        <li><i class="icon icon-display icon-sliders">Sliders</i><span>Desire the option to customize</span></li>
                        <li><i class="icon icon-display icon-star">Star</i><span>Use reviews to help make choices</span></li>
                        <li><i class="icon icon-display icon-house">House</i><span>Airbnbs are their lodging preference</span></li>
                        <li><i class="icon icon-display icon-train">Train</i><span>Arranging transportation is stressful</span></li>
                        <li><i class="icon icon-display icon-gem">Gem</i><span>Willing to purchase all-inclusive packages</span></li>
                    </ul>
                    
                    <p>After completing my research analysis, it was time to <strong>craft two user personas</strong> and <strong>user journeys</strong>.</p>
                    <p>Meet Karly, the adventurous traveler. She is a savvy, experienced traveler interested in customization for her entire upcoming trip to the Azores with her spouse. Karly wants to experience new activities and must-see locations while getting the best price. She is patient and will wait to secure a deal.</p>
                    
                    <figure>
                        <img srcset="images/tft/karly_persona2x.jpg 2x" src="images/tft/karly_persona.jpg" alt="Karly Persona">
                        <figcaption>Karly, The Adventerous Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="images/tft/karly_user_journey2x.jpg 2x" src="images/tft/karly_user_journey.jpg" alt="Karly User Journey">
                        <figcaption>Karly’s User Journey</figcaption>
                    </figure>
                    
                    <p>Here is Shawn, the casual traveler. He often travels with friends and isn’t the primary planner. Shawn and his partner are looking to reserve transportation and a lunch recommendation while in Porto. He enjoys researching food and nightlife, then sharing it with the group.</p>
                    
                    <figure>
                        <img srcset="images/tft/shawn_persona2x.jpg 2x" src="images/tft/shawn_persona.jpg" alt="Shawn Persona">
                        <figcaption>Shawn, The Casual Traveler</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="images/tft/shawn_user_journey2x.jpg 2x" src="images/tft/shawn_user_journey.jpg" alt="Shawn User Journey">
                        <figcaption>Shawn’s User Journey</figcaption>
                    </figure>
                    
                    <p>I <a href="images/tft/content_audit.pdf" target="_blank">completed a content audit</a> for Mr. Hudson, focusing on their trip design product. The audit helped me understand how a similar platform was structuring its content, and I enjoyed the organizational aspect of the task.</p>
                    <p>I established initial user flows and a site map to visualize necessary functionalities. Before proceeding with these, I <strong>performed a card sort using Optimal Sort</strong> with nine users with my menu naming conventions. I wanted to test how intuitive the navigation was. The sorting was a quick, inexpensive way to simplify my names and structure.</p>                                        
                </section>
                
                <section id="#wireframes" class="l-max-width">
                    <h2>Wireframes</h2>
                    <p>With my research in hand, I began with some <strong>low-fidelity wireframes</strong>. I also created wireframes for large device types to visualize how the elements would scale if necessary.</p>
                    
                    <div id="tft_wireframe_carousel" class="carousel carousel-dark slide" data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img srcset="images/tft/tft_wire012x.jpg 2x" src="images/tft/tft_wire01.jpg" class="d-block w-100" alt="Wireframes of sign in process">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Sign In Process</h5>
                                    <p>Sign in process from onboarding to My Trips page</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/tft/tft_wire022x.jpg 2x" src="images/tft/tft_wire02.jpg" class="d-block w-100" alt="Wireframes of account creation and onboarding">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Sign In Process / Navigation</h5>
                                    <p>Desktop sign in process and an example of navigation</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/tft/tft_wire032x.jpg 2x" src="images/tft/tft_wire03.jpg" class="d-block w-100" alt="Wireframes of onboarding and lesson">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Edit Itinerary Request</h5>
                                    <p>Process for requesting an edit to an existing itinerary</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/tft/tft_wire042x.jpg 2x" src="images/tft/tft_wire04.jpg" class="d-block w-100" alt="Wireframes of lesson completion and flashcard deck">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>My Trips Page / View Itinerary</h5>
                                    <p>Pages to view your existing trip requests and itineraries</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/tft/tft_wire052x.jpg 2x" src="images/tft/tft_wire05.jpg" class="d-block w-100" alt="Wireframes of lesson completion and flashcard deck">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Trip Planning Process</h5>
                                    <p>Trip planning process for mobile devices</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img srcset="images/tft/tft_wire062x.jpg 2x" src="images/tft/tft_wire06.jpg" class="d-block w-100" alt="Wireframes of lesson completion and flashcard deck">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Trip Planning Process</h5>
                                    <p>Trip planning process for desktop devices</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#tft_wireframe_carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                    <p>I evaluated the low-fidelity wireframes and swapped out the panel navigation for a bottom navigation bar to improve usability and remove unnecessary links. I adjusted how a first-time user would create an account. My goal was to reduce duplicate content and streamline access.</p>
                    <p>With these changes, I <strong>created mid-fidelity wireframes in Figma</strong> for the sign-in pages, trip planning process, and the “My Trips” pages. I used these wireframes to <strong>develop a prototype for usability tests</strong>.</p>
                                        
                    <figure>
                        <img srcset="images/tft/midfidelity2x.jpg 2x" src="images/tft/midfidelity.jpg" alt="Mid-fidelity wireframes">
                        <figcaption>Example of the mid-fidelity wireframes used for prototyping</figcaption>
                    </figure>
                </section>
                
                <section id="#usertesting" class="l-max-width">
                    <h2>User Testing</h2>
                    <p>I prepared a usability test plan, script, and a consent form for participants.</p>
                    
                    <div class="insight_list">
                        <div class="insight_list-item">
                            <p class="takeaway">Test Objectives</p>
                            <p>Determine if participants could add a new trip request</p>
                            <p>Observe how participants navigated the app</p>
                            <p>Gauge value app provided while planning future trips</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Method</p>
                            <p>Six (6) moderated in-person usability tests</p>
                            <p>Included a short briefing, tasks, and a debriefing</p>
                        </div>
                        <div class="insight_list-item">
                            <p class="takeaway">Participants</p>
                            <p>Recruited through social media and in-person</p>
                            <p>Within the age demographic, use mobile apps and participate in travel</p>
                        </div>
                    </div>
                    
                    <p>I evaluated my audio, video, and notes from usability testing and <strong>created an affinity map in Miro</strong>.</p>
                    
                    <figure>
                        <img srcset="images/tft/affinity_map022x.jpg 2x" src="images/tft/affinity_map02.jpg" alt="Mid-fidelity wireframes">
                        <figcaption>Affinity map created in Miro, organized into groups</figcaption>
                    </figure>
                    
                    <p><strong>I organized the affinity map data into a rainbow spreadsheet</strong>, which allowed me to see error severity and frequency at a glance while noting possible solutions.</p>
                    
                    <figure>
                        <img srcset="images/tft/rainbow_spreadsheet2x.jpg 2x" src="images/tft/rainbow_spreadsheet.jpg" alt="Rainbow Spreadsheet">
                        <figcaption>Rainbow spreadsheet to organize data from affinity map</figcaption>
                    </figure>
                    
                    <p>Pain points included the onboarding process, buttons, and a potentially unnecessary "save" function.</p>
                </section>
                
                <section id="#usertesting" class="l-max-width">
                    <h2>Iterate</h2>
                    <p>I worked through my rainbow spreadsheet, making updates as prioritized by severity, frequency, and an approximate timeline.</p>
                    <p>A high-severity issue included how participants didn’t swipe through the onboarding carousel, which led to confusion later as to what the service was offering.</p>
                    <p>I adjusted the onboarding to a vertical scroll layout and trimmed some unnecessary wording.</p>
                    <p>I also <strong>performed a preference test</strong> with 25 participants to determine if the word “free” on the button would incentivize continuation.</p>
                    <p>16 out of 25 participants preferred the “free” button wording, and I updated the button to reflect this.</p>
                    
                    <figure>
                        <img srcset="images/tft/preference_test2x.jpg 2x" src="images/tft/preference_test.jpg" alt="Preference Test Results">
                        <figcaption>Preference test results for call to action button</figcaption>
                    </figure>
                    
                    <figure>
                        <img srcset="images/tft/iteration2x.jpg 2x" src="images/tft/iteration.jpg" alt="Iteration to button before and after">
                        <figcaption>Onboarding screen iteration with updates</figcaption>
                    </figure>
                </section>
                
                <section id="#design" class="l-max-width">
                    <h2>Design</h2>
                    <p>While determining the color palette, I considered our adventurous traveler Karly. Together Forward Travel includes natural greens, a high-energy yellow-orange, and an exotic purple to evoke feelings of joy and new experiences.</p>
                    
                    <figure>
                        <img srcset="images/tft/color_palette2x.jpg 2x" src="images/tft/color_palette.jpg" alt="Color palette including greens, yellow, purple and greyscale">
                        <figcaption>Color palette for Together Forward Travel</figcaption>
                    </figure>
                    
                    <p>I <strong>utilized and applied Material Design guidelines</strong> and designed along an 8pt grid. Due to my familiarity with Bootstrap's framework, I designed with that in mind for certain components.</p>
                    <p>After evaluating the elements in use, I <strong>established design documentation and a design language system</strong>.</p>
                    <p>I <strong>audited the design against WCAG standards for ADA compliance</strong>. I made several adjustments to ensure a compliant and consistent user experience.</p>
                    <p>Below are the final mocks for Together Foward Travel.</p>
                    
                    <figure class="is-large">
                        <img srcset="images/tft/finalmock2x.jpg 2x" src="images/tft/finalmock.jpg" alt="Final mock of splash page, onboarding, account creation, sign in process">
                        <figcaption>Splash page, onboarding, account creation, and sign in process</figcaption>
                    </figure>
                    
                    <figure class="is-large">
                        <img srcset="images/tft/finalmock022x.jpg 2x" src="images/tft/finalmock02.jpg" alt="Final mock of trip planning process">
                        <figcaption>Trip planning process</figcaption>
                    </figure>
                    
                    <figure class="is-large">
                        <img srcset="images/tft/finalmock032x.jpg 2x" src="images/tft/finalmock03.jpg" alt="Final mock of my trip pages with edit itinerary process">
                        <figcaption>My Trip Pages with Edit Itinerary process</figcaption>
                    </figure>
                    
                    <a href="https://www.youtube.com/watch?v=qfit-nKxUls" class="video" target="_blank"><i class="icon icon-youtube">YouTube</i><span>Watch a video of the prototype</span></a>                                        
                </section>
                
                <section id="#reflect" class="l-max-width">
                    <h2>Reflect</h2>
                    <p>Working on Together Foward Travel helped solidify my understanding of the design process from start to finish. It improved my speed and comfortability with Figma. I have a better idea of how to approach and organize my next large project.</p>
                    <p>Next time, I will formulate some of my survey questions differently. I want to ensure I am asking questions that are simple to understand while providing good data.</p>
                    <p>I also want to make sure I am regularly returning to my research, such as my personas, regularly throughout the design process.</p>
                    <p>I am currently working on my UX writing skills and can already see many areas for improvement.</p>
                    <p class="highlight">Special thanks to my tutor, Candace, and my mentor, Abhi. They both offered valuable time and resources so that I would be successful.</p>
                </section>
                
                <section id="#appendix" class="l-max-width">
                    <h2>Appendix</h2>                    
                    <ul class="appendix">
                        <li><a href="tft_appendix.html#problem_state">Problem Statement</a></li>
                        <li><a href="tft_appendix.html#comp_analy">Competitive Analysis</a></li>                            
                        <li><a href="tft_appendix.html#affinity_map">Affinity Map 1</a></li>
                        <li><a href="tft_appendix.html#persona_karly">User Persona - Karly</a></li>
                        <li><a href="tft_appendix.html#persona_shawn">User Persona - Shawn</a></li>                        
                        <li><a href="tft_appendix.html#journey_karly">User Journey - Karly</a></li>
                        <li><a href="tft_appendix.html#journey_shawn">User Journey - Shawn</a></li>
                        <li><a href="tft_appendix.html#content_audit">Content Audit - Mr. Hudson</a></li>
                        <li><a href="tft_appendix.html#tft_wireframe_carousel">Low-fideltiy Wireframes</a></li>
                        <li><a href="tft_appendix.html#mid_fidelity">Mid-fidelity Wireframes</a></li>
                        <li><a href="tft_appendix.html#affinity_map2">Affinity Map 2</a></li>
                        <li><a href="tft_appendix.html#rainbow_spread">Rainbow Spreadsheet</a></li>
                        <li><a href="tft_appendix.html#preference">Preference Test Results</a></li>
                        <li><a href="tft_appendix.html#onboarding">Onboarding Screen Iteration</a></li>                        
                        <li><a href="tft_appendix.html#colors">Color Palette</a></li>
                        <li><a href="tft_appendix.html#final_mocks">Final Mocks</a></li>
                        <li><a href="tft_appendix.html#prototype">Video Prototype</a></li>
                    </ul>
                </section>
                
                <module href="/components/morework.html" locals='{"tft": "is-active"}'></module>
            </div>            
        </main>
        <footer>
            <module href="/components/foot.html"></module>
        </footer>		
	</body>
</html>