/* Header and Navigation */
header.navigation {
    max-width: 1204px;
    padding: 1.5rem 12px;
    margin: auto;
    background-color: $lightsand;
    @media ( min-width: 768px ) {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 8px 1.5rem 24px;
        z-index: 1000;        
    }
}
nav {
    display: none;
    @media ( min-width: 768px ) {
        display: block;
    }
    ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{            
            font-family: $league-gothic;
            font-size: 2rem;
            line-height: 1;
            color: $darkblue;
            text-align: center;
            text-transform: uppercase;
            &:not(:last-child) {
                margin-right: 24px;
            }
        }        
    }
}
.pagenav.is-active {
    display: block!important;
}
.header_link {    
    position: relative;
    display: block;
    padding: .75rem 16px;
    color: $darkblue;
    font-weight: 400;
    text-decoration: none;
    &::after {       
        display: block;        
        content: '';
        height: 4px;
        width: 100%;
        background: $lightsand;       
    }
    &:active,
    &:focus {
        color: $darkblue;
    }    
    &:hover,
    &.active {
        color: $undersea;
        &::after {
            background: $goldenwheat;
        }
    }
}

/* Dropdown Menu */
.dropdown {
    width: 215px;
    text-align: right;   
}
.dropdown-toggle {
    &.header_link {
        display: inline-block;
    }
    &::after {        
        margin: 0;
        border: none;
        vertical-align: 0;
    }
}
.dropdown-menu {
    width: 183px;
    padding: .5rem 0;    
    background-color: $lightsand;
    li {        
        text-align: left;
        font-size: 1.5rem;
        &:not(:last-child) {
            margin-right: 0;
        }
    }
}
.dropdown-item {
    padding: .25rem 8px;
    color: $darkblue;
    background-color: $lightsand;
    &:active {
        color: $black;
        background-color: #e9ecef;
    }
    &.active {
        color: $lightsand;
        background-color: $undersea;
    }
}
.dropdown-menu.show {
    transform: translate(16px, 60px)!important;
}

/* Footer */
footer {
    max-width: 1204px;
    margin: auto;
    background-color: $lightsand;
    padding: 2.5rem 0;
    @media ( min-width: 768px ) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 6.25rem 0 3.75rem;
    }
}
.social {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-left: 0;
    list-style-type: none;
    li {
        margin-right: 2.5rem;
        &:last-child {
            margin-right: 0;
            @media ( min-width: 768px ) {
                margin-right: 8px;
            }
        }        
    }
}
.footer_nav {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-left: 0;
    list-style-type: none;
    li {
        min-width: 72px;
        margin-right: 1rem;        
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        a {
            display: block;
            padding: .75rem;
            font-size: .75rem;
            line-height: 2;
            color: $black;            
        }
    }
}
.copy {
    text-align: center;
    @media ( min-width: 768px ) {
        padding-left: 24px;
    }
    
}