/* Icons */
.icon {
    display: block;
    width: 24px;
    height: 0;
    padding: 24px 0 0;
    text-indent: -9999px;
    background-size: 24px 48px;
    background-position: 0 0;
    &-social {
        width: 48px;
        padding: 48px 0 0;
        background-size: 48px 96px;
        &:focus,
        &:hover {
            background-position: 0 -48px;
        }
        @media ( min-width: 768px ) {
            width: 60px;
            padding: 60px 0 0;
            background-size: 60px 120px; 
            &:focus,
            &:hover {
                background-position: 0 -60px;
            }
        }
    }
    &-display {
        background-size: 24px 24px;
        @media ( min-width: 768px ) {
            width: 32px;
            padding: 32px 0 0;
            background-size: 32px 32px;
        }
    }
}
.icon-logo {
    width: 117px;
    padding: 50px 0 0;
    background-image: url('images/icons/logan_logo.svg');
    background-size: 117px 50px;
    @media ( min-width: 992px ) {
        width: 140px;
        padding: 60px 0 0;
        background-size: 140px 60px;
    }
}
.icon-twitter {
    background-image: url('images/icons/twitter.svg'); 
}
.icon-linkedin {
    background-image: url('images/icons/linkedin.svg');    
}
.icon-email {
    background-image: url('images/icons/email.svg');   
}
.icon-youtube {
    background-image: url('images/icons/youtube.svg');
    @media ( min-width: 768px ) {
        width: 32px;
        padding: 32px 0 0;
        background-size: 32px 64px;
    }
}
.icon-dollar {
    background-image: url('images/icons/dollar.svg');   
}
.icon-calendar {
    background-image: url('images/icons/calendar.svg');   
}
.icon-puzzle {
    background-image: url('images/icons/puzzle.svg');   
}
.icon-pencil {
    background-image: url('images/icons/pencil.svg');   
}
.icon-sliders {
    background-image: url('images/icons/sliders.svg');   
}
.icon-people {
    background-image: url('images/icons/people.svg');   
}
.icon-id {
    background-image: url('images/icons/id.svg');   
}
.icon-bed {
    background-image: url('images/icons/bed.svg');   
}
.icon-plane {
    background-image: url('images/icons/plane.svg');   
}
.icon-star {
    background-image: url('images/icons/star.svg');   
}
.icon-house {
    background-image: url('images/icons/house.svg');   
}
.icon-train {
    background-image: url('images/icons/train.svg');   
}
.icon-gem {
    background-image: url('images/icons/gem.svg');   
}
.icon-file {
    background-image: url('images/icons/file.svg');
    @media ( min-width: 768px ) {
        width: 32px;
        padding: 32px 0 0;
        background-size: 32px 64px;
    }
}
.icon-download {
    background-image: url('images/icons/download.svg');
    width: 32px;
    padding: 32px 0 0;
    background-size: 32px 64px;     
    @media ( min-width: 768px ) {
        width: 32px;
        padding: 32px 0 0;
        background-size: 32px 64px;
    }
}
.icon-upchevron {
    background-image: url('images/icons/upchevron.svg');
}

/* Video Button */
.video {
    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
    line-height: 0;
    &:focus,
    &:hover {
        .icon-youtube,
        .icon-file {
            background-position: 0 -24px;
            @media ( min-width: 768px ) {
                background-position: 0 -32px;
            }
        }
        .icon-download {
            background-position: 0 -32px;
        }
    }
    span {
        margin-left: 8px;
        @include fontGrow;
    }
}

/* Icon List Display */
.icon-list {
    margin: 0;
    padding: .5rem 0 1.5rem;    
    list-style-type: none;
    li {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        .icon {
            flex: 0 0 24px;
            margin: 8px;
            @media ( min-width: 768px ) {
                flex: 0 0 32px;
            }
        }
        span {
            margin-left: 8px;
            @include fontGrow;
        }
    }
}