/* Icons */
.icon {
    display: block;
    width: 48px;
    height: 0;
    padding: 48px 0 0;
    text-indent: -9999px;
    background-size: 48px 96px;
    background-position: 0 0;     
    &-social {
        &:focus,
        &:hover {
            background-position: 0 -48px;
        }
        @media ( min-width: 768px ) {
            width: 60px;
            padding: 60px 0 0;
            background-size: 60px 120px; 
            &:focus,
            &:hover {
                background-position: 0 -60px;
            }
        }
    }
}
.icon-logo {
    width: 117px;
    padding: 50px 0 0;
    background-image: url('images/logan_logo.svg');
    background-size: 117px 50px;
    @media ( min-width: 992px ) {
        width: 140px;
        padding: 60px 0 0;
        background-size: 140px 60px;
    }
}
.icon-twitter {
    background-image: url('images/twitter.svg');
       
}
.icon-linkedin {
    background-image: url('images/linkedin.svg');    
}
.icon-email {
    background-image: url('images/email.svg');   
}
.icon-youtube {
    background-image: url('images/youtube.svg');    
}