/* Fonts */
$league-gothic: 'League Gothic', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* Colors */
$undersea: #153D59;
$darkblue: #2D658C;
$tropical: #50ACAF;
$terracotta: #A8614D;
$leather: #794030;
$goldenwheat: #EFC043;
$lightsand: #EBEBEB;
$black: #000;
$white: #FFF;