/* Fonts */
$league-gothic: 'League Gothic', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* Colors */
$undersea: #153D59;
$darkblue: #2D658C;
$tropical: #50ACAF;
$terracotta: #A8614D;
$leather: #794030;
$goldenwheat: #EFC043;
$lightsand: #FFFAF9;
$black: #000;
$white: #FFF;

/* Box Shadow */
$shadow: 0px 2px 2px rgba(21, 61, 89, 0.18), 0px 4px 4px rgba(21, 61, 89, 0.18), 0px 8px 8px rgba(21, 61, 89, 0.12), 0px 16px 16px rgba(21, 61, 89, 0.05);
