@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrapClasses.scss';
@import 'general.scss';
@import 'images.scss';
@import 'icons.scss';
@import 'resume.scss';
@import 'backtotop.scss';
@import 'framework.scss';

/* Project Cards */
.casestudy {
    .col-12 {
        margin-top: 1.5rem;
        &.is-active {
            display: none;
        }
    }
    a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: $black;
        &:focus,
        &:hover {            
            .btn-primary {
                background-color: $terracotta;                
            }
            .is-small .btn-link {
                text-decoration: none;
                color: $leather;
            }
        }        
    }
    .card-img-top {
        position: relative;
        top: 0;
        left: 50%;
        width: 549px;
        transform: translateX(-274.5px);
    }
    .btn-primary {        
        padding: .75rem 16px;        
        line-height: 1.285715;        
    }    
}
.img_wrap {
    width: 100%;
    height: 245px;
    overflow: hidden;    
}
.is-small {
    .img_wrap {
        height: 170px;
    }
    .card-body {
        padding: 1.5rem 12px 0 0;       
    }
    .card-img-top {
        width: 232px;
        transform: translateX(-116px);
    }
}

.btn-wrap {
    padding: 2.5rem 0;
    text-align: center;
    @media ( min-width: 768px ) {
        text-align: left;
    }
}
.card-footer .btn-link {
    position: relative;
    padding: 0 24px 0 0;
    color: $terracotta;
    font-size: .875rem;    
    font-weight: 700;
    text-align: left;
    &::after {
        content: '';
        position: absolute;
        background-image: url('images/icons/rightchevron.svg');
        background-size: 48px 48px;
        background-position: -12px 0;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
    }    
}

/* Quote Section */
.testimonials {    
    figure {
        margin: 0;
        padding-top: 2.5rem;
    }
    blockquote {
        position: relative;
        margin-bottom: .5rem;
        margin-left: 61px;
        font-style: italic;
        font-weight: 600;
        color: $darkblue;
        @media ( min-width: 576px ) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $goldenwheat;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -16px;
            left: -61px;
            background-image: url('images/icons/openquote.svg');
            background-size: 45px 32px;
            background-position: 0 0;
            width: 45px;
            height: 32px;
        }
    }
    figcaption {
        padding-left: 61px;
        font-size: .75rem;             
    }
}
 .info {
    span{
        display: block;
        margin-top: .25rem;
        font-size: .875rem;
        line-height: 1.285715;        
        &:first-of-type {
            margin-top: 0;
            font-weight: 600;
        }
        &:last-of-type {
            font-style: italic;
        }
    }
}

/* Case Study Header Section */
.breakdown {
    margin-bottom: 2.5rem;
    padding: 4rem 0 2.5rem;
    border-bottom: 1px solid $goldenwheat;
    line-height: 0;
}

/* Insight Cards with Icons */
.insight_container {
    padding: 1rem 0 2.5rem;
    text-align: center;          
}
.insight_card {   
    margin-top:1.5rem;    
    &-inner {
        min-height: 100%;
        padding: 1rem;
        border-radius: 3px;
        box-shadow: $shadow;
    }
    .icon {
        background-size: 40px 40px;
        width: 40px;
        padding: 40px 0 0;
        margin: .5rem auto;
    }
     &-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: $darkblue;
    }
}

/* Insight List */
.insight_list {
    max-width: 763px;
    padding: 0 0 1.5rem 8px;    
    &-item {
        padding-top: 1rem;
        .takeaway {
            font-size: 1rem;
            font-weight: 700;
            color: $darkblue;
            & + p {
                padding-top: .25rem;
            }
        }
    }    
}

/* View More Work Cards */
.more_work {
    margin-top: 4rem;
    border-top: 1px solid $goldenwheat;
    @media ( min-width: 768px ) {
        margin-top: 5rem;        
    }
}

/* Story Lists */
.list_box {
    max-width: 763px;
    margin-top: 1.5rem;    
    border-radius: 6px;
    border: 1px solid $undersea;
    p {
        margin-bottom: .5rem;
        padding: 1rem;
        background-color: $undersea;
        color: $white;
        font-weight: 700;
    }
    ul {
        margin-bottom: 1.5rem;
        padding: 0 1.5rem 0 2.5rem;
        li {
            @include fontGrow;
            padding-top: .5rem;            
        }
        .none {
            list-style-type: none;
            font-style: italic;
        }
    }
    + p {
        padding-top: 2.5rem;
    }
}

.note {
    li {
        @include fontGrow;
        padding-top: .5rem;
    }
}

/* About Page */
.about_info {
    align-items: center;
    max-width: 763px;
    .img_container {
        margin: 1.5rem auto 0;
        max-width: 200px;
        padding-top: 0;        
        @media ( min-width: 576px ) {
            margin: 0 0 0 auto;            
        }
        img {
            border-radius: 3px;
        }
    }
}