<ul class="social">
    <li><a href="https://twitter.com/LoganEIbarra" class="icon icon-social icon-twitter" title="Twitter">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/loganibarra/" class="icon icon-social icon-linkedin" title="LinkedIn">LinkedIn</a></li>
    <li><a href="mailto:logan.e.ibarra@gmail.com" class="icon icon-social icon-email" title="Email Me">Email</a></li>
</ul>
<ul class="footer_nav d-md-none">
    <li><a href="#">Work</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Resume</a></li>
</ul>
<p class="small copy">© Logan Ibarra 2022</p>