 <header class="navigation">
    <a href="index.html"><i class="icon icon-logo">Logan</i></a>    
    <nav id="dropdown-nav" class="pagenav">
        <ul class="nav">            
            <li class="nav-item dropdown">                
                <a class="nav-link header_link dropdown-toggle drop_replace" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{navigation}}</a>
                <ul class="dropdown-menu drop_replace-menu">
                    <content></content>
                </ul>
            </li>
            <li class="nav-item"><a href="index.html" class="nav-link header_link">Home</a></li>
        </ul>
    </nav>
</header>