<section id="#more" class="more_work">
    <h2>More of My Work</h2>
    <div class="row casestudy">
        <div class="col-12 col-md-6 {{roux}}">
            <a href="/cooking_with_roux.html">                                
                <div class="card is-small">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <!-- Placeholder -->
                            <div class="img_wrap">
                                <img class="card-img-top" srcset="images/tft2x.jpg 2x" src="images/tft.jpg" alt="Cooking With Roux Chat">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body ps-0">
                                <h5 class="card-title">Cooking With Roux</h5>
                                <p class="card-text small">A foray into Voice User Interface Design.</p>
                            </div>
                            <div class="card-footer ps-0">
                                <span class="btn btn-link">Learn More About Roux</span>
                            </div>
                        </div>                                        
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 {{tft}}">
            <a href="/together_forward_travel.html">                                
                <div class="card is-small">
                    <div class="row align-items-center">
                        <div class="col-4">                                            
                            <div class="img_wrap">
                                <img class="card-img-top" srcset="images/tft2x.jpg 2x" src="images/tft.jpg" alt="Together Forward Travel High Fidelity Mock">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body ps-0">
                                <h5 class="card-title">Together Forward Travel</h5>
                                <p class="card-text small">An in-depth UX case study for a mobile travel app.</p>
                            </div>
                            <div class="card-footer ps-0">
                                <span class="btn btn-link">How I Customized Travel</span>
                            </div>
                        </div>                                        
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 {{aprende}}">
            <a href="/aprende.html">                                
                <div class="card is-small">
                    <div class="row align-items-center">
                        <div class="col-4">                                            
                            <div class="img_wrap">
                                <img class="card-img-top" srcset="images/aprende2x.jpg 2x" src="images/aprende.jpg" alt="Aprende Paper Wireframes">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body ps-0">
                                <h5 class="card-title">¡Aprende!</h5>
                                <p class="card-text small">Wireframes & prototype for a Spanish vocabulary app.</p>
                            </div>
                            <div class="card-footer ps-0">
                                <span class="btn btn-link">My Vocabulary Research</span>
                            </div>
                        </div>                                        
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>